:root{
    --component-order: 0;
    --component-margin: 0;
    --component-color: inherit;
    --component-bg: inherit;
    --component-border: inherit;
    --component-border-radius: inherit;
    --component-max_height: auto;
    --component-width: auto;
}

*{
    box-sizing: border-box;
}
.hidden-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.components{
    width: var(--component-width);
    max-height: var(--component-max_height);
    margin: var(--component-margin);
    order: var(--component-order);
    color: var(--component-color);
    background: var(--component-bg);
    border: var(--component-border);
    border-radius: var(--component-border-radius);
}