:root{
    --component-order: 0;
    --component-margin: 0;
}

*{
    box-sizing: border-box;
}
.hidden-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.components{
    margin: var(--component-margin);
    order: var(--component-order);
}