:root{
  --outline--table: 2px solid #000;
  --outline--cell-size:2px;
  --width__elem: 40px;
}


.table{
  outline: var(--outline--table);
}

.table__header{
  outline: var(--outline--table);
  display: flex;
}
.table__tr{
  display: flex;
  margin-top: var(--outline--cell-size);

}
.table__th{
  position: relative;
}
.table__td{

}
.table_elem{
  margin-left: var(--outline--cell-size);
  outline: var(--outline--table);
  width: var(--width__elem);
  padding: 2px;
}

/* th стили */
.th__sort{
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.table__th:hover .th__sort{
  display: block;
}

/* багофикс css outline */
.table .table__th:first-child{
  margin-left: 0;
}
.table .table__tr .table_elem:first-child{
  margin-left: 0;
}
/* багофикс css outline */

